<div class="card" style="width: 200px">
<%= link_to monster, :action => 'go' do %>
  <%= render partial: "portrait", locals: {monster: monster, size: 'small', draggable: false} %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= monster.name %></h5>
    <p class="card-text">Owner: <%= monster.user.name %></p>
    <span style="line-height: 45px; float: right">
      <%= octicon "heart", :height => 32, fill: 'red' %>&nbsp;<%= Like.where(monster_id: monster.id).size %>
    </span>
  </div>
</div>

