  <div class="monster-canvas center <%= size %> <%= "bordered" if show_border %>">
  <img
    id="face"
    class="body-part face <%= "draggable" if draggable %>"
    style="
      left: <%= size == "small" ? monster.face_x/2 : monster.face_x %>px;
      top: <%= size == "small" ? monster.face_y/2 : monster.face_y %>px;
      -webkit-transform : scale(<%= monster.face_scale %>);
      -moz-transform    : scale(<%= monster.face_scale %>);
      -ms-transform     : scale(<%= monster.face_scale %>);
      -o-transform      : scale(<%= monster.face_scale %>);
      transform         : scale(<%= monster.face_scale %>);
    "
    src="<%= asset_path("faces/#{monster.face.filename}.svg") %>"
  />
  <img
    id="head"
    class="body-part head <%= "draggable" if draggable %>"
    style="
      left: <%= size == "small" ? monster.head_x/2 : monster.head_x %>px;
      top: <%= size == "small" ? monster.head_y/2 : monster.head_y %>px;
      -webkit-transform : scale(<%= monster.head_scale %>);
      -moz-transform    : scale(<%= monster.head_scale %>);
      -ms-transform     : scale(<%= monster.head_scale %>);
      -o-transform      : scale(<%= monster.head_scale %>);
      transform         : scale(<%= monster.head_scale %>);
    "
    src="<%= asset_path("heads/#{monster.head.filename}.svg") %>"
  />
  <img
    id="torso"
    class="body-part torso <%= "draggable" if draggable %>"
    style="
      left: <%= size == "small" ? monster.torso_x/2 : monster.torso_x %>px;
      top: <%= size == "small" ? monster.torso_y/2 : monster.torso_y %>px;
      -webkit-transform : scale(<%= monster.torso_scale %>);
      -moz-transform    : scale(<%= monster.torso_scale %>);
      -ms-transform     : scale(<%= monster.torso_scale %>);
      -o-transform      : scale(<%= monster.torso_scale %>);
      transform         : scale(<%= monster.torso_scale %>);
    "
    src="<%= asset_path("torsos/#{monster.torso.filename}.svg") %>"
  />
  <img
    id="leg"
    class="body-part leg <%= "draggable" if draggable %>"
    style="
      left: <%= size == "small" ? monster.leg_x/2 : monster.leg_x %>px;
      top: <%= size == "small" ? monster.leg_y/2 : monster.leg_y %>px;
      -webkit-transform : scale(<%= monster.leg_scale %>);
      -moz-transform    : scale(<%= monster.leg_scale %>);
      -ms-transform     : scale(<%= monster.leg_scale %>);
      -o-transform      : scale(<%= monster.leg_scale %>);
      transform         : scale(<%= monster.leg_scale %>);
    "
    src="<%= asset_path("legs/#{monster.leg.filename}.svg") %>"
  >
</div>