<script type="text/javascript">

</script>

<div class="container">
  <h1>Edit <%= @monster.name %></h1>
  <%= form_for(@monster) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :head_id, "Head" %>
    <%= f.collection_select :head_id, BodyPart.where(section: "head"), :id, :id %><br>
    <%= f.label :head_x, "X" %>
    <%= f.number_field :head_x %>
    <%= f.label :head_y, "Y" %>
    <%= f.number_field :head_y %>
    <br>
    <%= f.label :torso_id, "Torso" %>
  
    <%= f.label :torso_x, "X" %>
    <%= f.collection_select :torso_id, BodyPart.where(section: "torso"), :id, :id %><br>
    <%= f.number_field :torso_x %>
    <%= f.label :torso_y, "Y" %>
    <%= f.number_field :torso_y %>
    <br>
    <%= f.label :leg_id, "Leg" %>
   
    <%= f.label :leg_x, "X" %>
    <%= f.collection_select :leg_id, BodyPart.where(section: "leg"), :id, :id %><br>
    <%= f.number_field :leg_x %>
    <%= f.label :leg_y, "Y" %>
    <%= f.number_field :leg_y %>
    <br>
    <%= f.submit 'Update'%>
  <% end %>

  <hr>
  
  <div class="monster-canvas">
      <img id="head" class="body-part head draggable"
        style="
          left: <%= @monster.head_x %>px;
          top: <%= @monster.head_y %>px;
        "
        src="<%= asset_path("heads/#{@monster.head.filename}_#{@monster.head.color}.svg") %>"
      />
      <img id="torso" class="body-part torso draggable"
        style="
          left: <%= @monster.torso_x %>px;
          top: <%= @monster.torso_y %>px;
        "
        src="<%= asset_path("torsos/#{@monster.torso.filename}_#{@monster.torso.color}.svg") %>"
      />
      <img id="leg" class="body-part leg draggable"
        style="
          left: <%= @monster.leg_x %>px;
          top: <%= @monster.leg_y %>px;
        "
        src="<%= asset_path("legs/#{@monster.leg.filename}_#{@monster.leg.color}.svg") %>"
      >
    </div>
</div>

