<div class="container">
  <h1>Edit <%= @monster.name %></h1>
  <%= form_for(@monster) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :head_id, "Head" %>
   
    <%= f.label :head_x %>
    <%= f.number_field :head_x %>
    <%= f.label :head_y %>
    <%= f.number_field :head_y %>
    <%= f.label :head_scale %>
    <%= f.number_field :head_scale, {step: 0.1} %>
    <br>
    <%= f.label :torso_id, "Torso" %>
  
    <%= f.label :torso_x %>
    <%= f.number_field :torso_x %>
    <%= f.label :torso_y %>
    <%= f.number_field :torso_y %>
    <%= f.label :torso_scale %>
    <%= f.number_field :torso_scale, {step: 0.1} %>
    <br>
    <%= f.label :leg_id, "Leg" %>
   
    <%= f.label :leg_x %>
    <%= f.number_field :leg_x %>
    <%= f.label :leg_y %>
    <%= f.number_field :leg_y %>
    <%= f.label :leg_scale %>
    <%= f.number_field :leg_scale, {step: 0.1} %>
    <br>
    <%= f.submit 'Update'%>
  <% end %>

  <hr>

  <div class="monster-canvas">
    <div class="body-part head"
      style="
        left: <%= @monster.head_x %>px;
        top: <%= @monster.head_y %>px;
        transform: scale(<% @monster.head_scale %>);
      "
    >
    </div>
    <div class="body-part torso"
      style="
        left: <%= @monster.torso_x %>px;
        top: <%= @monster.torso_y %>px;
        transform: scale(<% @monster.torso_scale %>);
      "
    >
    </div>
    <div class="body-part leg"
      style="
        left: <%= @monster.leg_x %>px;
        top: <%= @monster.leg_y %>px;
        transform: scale(<% @monster.leg_scale %>);
      "
    >
    </div>
  </div>
</div>
