<div class= "body-padding">
<div class="container">
  <h1>Edit <%= @monster.name %></h1>
  <%= form_for(@monster) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :head_id, "Head" %>
    <%= f.collection_select :head_id, @heads, :id, :id %>
    <br>
    <%= f.label :torso_id, "Torso" %>
    <%= f.collection_select :torso_id, @torsos, :id, :id %>
    <br>
    <%= f.label :leg_id, "Leg" %>
    <%= f.collection_select :leg_id, @legs, :id, :id %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
</div>
