<div class="container monsters-show">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <h1><%= @monster.name %></h1>
        </div>
        <div class="card-body">
          <p>Age: <%= pluralize(@monster.age, "day") %> old</p>
          <p>Weight: <%= @monster.weight %>kg</p>
          <p>Height: <%= @monster.height %>cm</p>
          <p>Mood: <%= @monster.mood %></p>
        </div>
        <div class="card-body">
          <span style="float: left">
            <% if @is_user_owner %>
              <%= form_for @monster do |f| %>
                <%= f.hidden_field :time_last_fed, value: Time.zone.now %>
                <button type="submit" name="commit" class="btn btn-md btn-primary">
                  <span class="icon-button">
                    <%= octicon "squirrel", fill: 'white' %>&nbsp;&nbsp;Feed
                  </span>
                </button>
              <% end %>
            <% end %>
            <%= form_tag like_path do %>
              <% if !@is_user_owner %>
                <% if !@has_user_liked %>
                  <%= hidden_field_tag name="do_like" %>
                  <button type="submit" name="commit" class="btn btn-md btn-outline-danger">
                    <span class="icon-button">
                      <%= octicon "heart", fill: 'red' %>&nbsp;&nbsp;Like&nbsp;
                    </span>
                  </button>
                <% else %>
                  <button type="submit" name="commit" class="btn btn-md btn-danger">
                    <span class="icon-button" style="color: white">
                      <%= octicon "heart", fill: 'white' %>&nbsp;&nbsp;Liked
                    </span>
                  </button>
                <%end %>
              <% end %>
            <% end %>
          </span>
          <span style="line-height: 55px; float: right">
            <%= octicon "heart", :height => 32, fill: 'red' %>&nbsp;<%= Like.where(monster_id: @monster.id).size %>
          </span>
        </div>

      </div>
    </div>
    <div class="col-md">
        <%= render partial: "portrait", locals: {monster: @monster, size: 'large', draggable: false} %>
    </div>
  </div>
  <% if flash[:overfed] %>
    <div class="alert alert-warning" role="alert">
      You fed <%= @monster.name %> today.
    </div>
  <% end %>
</div>

