<div class="container monsters-show">
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <div class="card-header">
          <h1><%= @monster.name %></h1>
        </div>
        <div class="card-body">
          <p>Mood: <%= @monster.get_mood %></p>
          <p class="card-text"><small class="text-muted">Last fed <%= @monster.get_time_elapsed_since_last_fed %> ago</small></p>
        </div>
        <div class="card-body">
          <%= form_for(@monster) do |f| %>
            <%= f.hidden_field :time_last_fed, value: DateTime.now %>
            <%= f.submit 'Feed', class: "btn btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>
    <div class="col-sm">
      <div class="monster-canvas">
        <img 
          id="head" 
          class="body-part head"
          style="
            left: <%= @monster.head_x %>px;
            top: <%= @monster.head_y %>px;
            -webkit-transform : scaleX(<%= @monster.head_scale_x %>);
            -webkit-transform : scaleY(<%= @monster.head_scale_y %>);
            -moz-transform    : scaleX(<%= @monster.head_scale_x %>);
            -moz-transform    : scaleY(<%= @monster.head_scale_y %>);
            -ms-transform     : scaleX(<%= @monster.head_scale_x %>);
            -ms-transform     : scaleY(<%= @monster.head_scale_y %>);
            -o-transform      : scaleX(<%= @monster.head_scale_x %>);
            -o-transform      : scaleY(<%= @monster.head_scale_y %>);
            transform         : scaleX(<%= @monster.head_scale_x %>);
            transform         : scaleY(<%= @monster.head_scale_y %>);
          "
          src="<%= asset_path("heads/#{@monster.head.filename}.svg") %>"
        />
        <img 
          id="torso"
          class="body-part torso"
          style="
            left: <%= @monster.torso_x %>px;
            top: <%= @monster.torso_y %>px;
            -webkit-transform : scaleX(<%= @monster.torso_scale_x %>);
            -webkit-transform : scaleY(<%= @monster.torso_scale_y %>);
            -moz-transform    : scaleX(<%= @monster.torso_scale_x %>);
            -moz-transform    : scaleY(<%= @monster.torso_scale_y %>);
            -ms-transform     : scaleX(<%= @monster.torso_scale_x %>);
            -ms-transform     : scaleY(<%= @monster.torso_scale_y %>);
            -o-transform      : scaleX(<%= @monster.torso_scale_x %>);
            -o-transform      : scaleY(<%= @monster.torso_scale_y %>);
            transform         : scaleX(<%= @monster.torso_scale_x %>);
            transform         : scaleY(<%= @monster.torso_scale_y %>);
          "
          src="<%= asset_path("torsos/#{@monster.torso.filename}.svg") %>"
        />
<<<<<<< HEAD
        <img 
          id="leg" 
=======
        <img
          id="leg"
>>>>>>> e84a8f8f101532d43ccbe803682eb03a0da4c8ff
          class="body-part leg"
          style="
            left: <%= @monster.leg_x %>px;
            top: <%= @monster.leg_y %>px;
            -webkit-transform : scaleX(<%= @monster.leg_scale_x %>);
            -webkit-transform : scaleY(<%= @monster.leg_scale_y %>);
            -moz-transform    : scaleX(<%= @monster.leg_scale_x %>);
            -moz-transform    : scaleY(<%= @monster.leg_scale_y %>);
            -ms-transform     : scaleX(<%= @monster.leg_scale_x %>);
            -ms-transform     : scaleY(<%= @monster.leg_scale_y %>);
            -o-transform      : scaleX(<%= @monster.leg_scale_x %>);
            -o-transform      : scaleY(<%= @monster.leg_scale_y %>);
            transform         : scaleX(<%= @monster.leg_scale_x %>);
            transform         : scaleY(<%= @monster.leg_scale_y %>);
          "
          src="<%= asset_path("legs/#{@monster.leg.filename}.svg") %>"
        >
<<<<<<< HEAD
      </div>  
    </div>
  </div>
=======
      </div>
      <div>
      <%= link_to "Edit Monster", edit_monster_path(@monster), class: "btn btn-outline-primary btn-rounded  my-4" %>
      </div>
      <div>
      <%= button_to "Destroy Monster",{ action: "destroy", id: @monster.id }, method: :delete, class: "btn btn-outline-danger btn-rounded  my-4", data: {confirm: "Are you sure?"} %>
      </div>
>>>>>>> e84a8f8f101532d43ccbe803682eb03a0da4c8ff
</div>

