<div class="container">
<h1><%= @monster.name %><h2>
<%= @monster.head.id %>
<%= @monster.torso.id %>
<%= @monster.leg.id %>

<hr>

  <div class="monster-canvas">
      <img class="body-part head draggable"
        style="
          left: <%= @monster.head_x %>px;
          top: <%= @monster.head_y %>px;
        "
        src="<%= asset_path("heads/#{@monster.head.filename}_#{@monster.head.color}.svg") %>"
      />
      <img class="body-part torso draggable"
        style="
          left: <%= @monster.torso_x %>px;
          top: <%= @monster.torso_y %>px;
        "
        src="<%= asset_path("torsos/#{@monster.torso.filename}_#{@monster.torso.color}.svg") %>"
      />
      <img class="body-part leg draggable"
        style="
          left: <%= @monster.leg_x %>px;
          top: <%= @monster.leg_y %>px;
        "
        src="<%= asset_path("legs/#{@monster.leg.filename}_#{@monster.leg.color}.svg") %>"
      >
    </div>
</div>

