<div class= "body-padding">
<div class= "container col-md-4">
<div class= "card">
  <h5 class="card-header info-color white-text text-center py-4">Edit User Info</h5>
<div class="card-body">
<%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "Username:", class: "col-md-4 control-label" %>
          <%= f.text_field :name, class: "form-control" %>
            </div>
          <div class="form-group">
          <%= f.label :password, "Password:", class: "col-md-4 control-label" %>
          <%= f.password_field :password, class: "form-control" %>
      </div>
      <%= f.submit "Submit", class: "btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" %>
 <% end %>
  </div>
</div>
</div>
  <div class="container col-md-2">
  <%= button_to "Destroy Profile",{ action: "destroy", id: @user.id }, method: :delete, class: "btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0", data: {confirm: "Are you sure?"} %>
  </div>
  </div>
</div>
</div>
