<title>Edit User Form</title>
</head>
<body>
  <label><h1>Edit User</h1></label>
  <ul>
    <%= form_for @user do |f| %>
    <h3><%= f.label :name %></h3>
    <%= f.text_field :name %><br>
    <%= f.submit "Update User" %>
    <% end %>
  </ul>
  <%= form_tag @user, method: "delete" do %>
    <%= submit_tag "Delete" %>
  <%= link_to 'Delete', @user, method: :delete %>
  <% end %>
</body>
