<div class="container">
  <head>
    <title>New User Form</title>
  </head>
  <body>
    <label><h1>Create New User</h1></label>
  <%= form_for :user, url: '/users' do |f| %>
    Username: <%= f.text_field :name %>
    Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %>
    <%= f.submit "Submit" %>
  <% end %>

  </body>
</div>
